{% extends "base.html" %}
{% block title %} <h3 style="color:blue">The Product List</h3> {% endblock %}
{% block content %} 
{% for item in products.object_list %}
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<p class="bg-info">{{item.name}}</p>
	</div>
</div>
<div class="row">
	<div class="col-md-2 col-md-offset-2">
		<img src="{{item.image}}" alt="product" class="img-thumbnail">
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<p class="bg-warning">{{item.description}}</p>
		<hr>
		<p class="bg-info">Price: ${{item.price}}</p>
		<hr>
		<p class="bg-warning">Available since: {{item.release_date}}</p>
		<hr>
		<p class="bg-info">Free Shipping? {{item.free_shipping}}</p>
    
		<a type="button" class="btn btn-primary" href="{% url 'shopping.views.view_product' item.id  %}">view</a>
		<a type="button" class="btn btn-success" href="{% url 'shopping.views.edit_product' item.id %}">edit</a> 
		<a type="button" class="btn btn-danger" href="{% url 'shopping.views.delete_product' item.id %}">delete</a>
		<a type="button" class="btn btn-primary" style="float: right;" href="{% url 'shopping.views.add_product' %}">add new product</a>
{% endfor %}
		<hr>
		{% if products.has_previous %}
		<a href="?page={{ products.previous_page_number }}">previous page</a>
		{% endif %}
		<p class="bg-info">current page: {{ products.number }}, total page: {{ products.paginator.num_pages }}</pe>
		{% if products.has_next %}
        <a href="?page={{ products.next_page_number }}">next page</a>
		{% endif %}
</div>
{% endblock %}