{% extends "base.html" %}
{% block title %}<h3 style="color:blue; text-align:center;">My Chart</h3> {% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-8 col-md-offset-2">
	<table class="table">
			{% for item in cart.items %} 
				<tr>
					<td>{{ item.product.name }} X</td>
					<td>{{ item.quantity }}</td>
					<td>${% widthratio item.item_price 1 item.quantity %}</td>
				</tr>
			{% endfor %} 
				<tr>
					<td></td>
					<td>Total: </td>
					<td id="total">$ {{ cart.total_price|floatformat:"2" }}</td>
				</tr>
	</table>
	<div>
		<a class="btn btn-success" style="margin-left:20px;" href="#">Checkout</a>
		<a class="btn btn-primary"href="{% url 'shopping.views.catalog' %}">Continue Shopping</a>
		<a class="btn btn-danger "href="#{% url 'shopping.views.clear_cart' %}">Clear Cart</a>
		
	</div>
	</div>
</div>
{% endblock %}